In [55]:
import pandas as pd

In [56]:
predictions_file = "Example_data\Output\Predictions\MovementEcologyPaper\predictions_active_tags_20231205.xlsx"
indiv_locs_file = r"C:\Users\John\SynologyDrive\JOBS\~2019\QEJ19152\DATA ANALYSIS\MOVEMENT_ECOLOGY\MASTER_DATA\BTF_Individual_Locations_20230718.xlsx"
tag_list_file = r"C:\Users\John\SynologyDrive\JOBS\~2019\QEJ19152\DATA ANALYSIS\MOVEMENT_ECOLOGY\MASTER_DATA\Tag_List.xlsx"

predictions = pd.read_excel(predictions_file)
indiv_locs = pd.read_excel(indiv_locs_file)
tag_list = pd.read_excel(tag_list_file)

In [58]:
predictions

,DateTime,TowerID,TagID,ant1_count,ant2_count,ant3_count,ant4_count,ant1_mean,ant2_mean,ant3_mean,...,total_count,tower_group,xOffset_pred,yOffset_pred,easting_pred,northing_pred,zone_number,zone_letter,latitude_pred,longitude_pred
0,2021-02-13 00:00:00,RT20,8,5,4,0,0,66.600000,85.00,0.0,...,9,1,260.585628,258.551629,431312.695487,7.573266e+06,55,k,-21.943603,146.334833
1,2021-02-13 00:00:00,RT21,8,6,4,5,0,85.166667,75.75,105.2,...,15,1,49.010033,-245.368428,431590.151395,7.572768e+06,55,k,-21.948118,146.337499
2,2021-02-13 00:00:00,RT22,8,5,3,5,4,105.200000,95.00,86.4,...,17,1,38.049849,13.707096,431593.479045,7.572541e+06,55,k,-21.950169,146.337522
3,2021-02-13 00:00:00,RT23,8,6,4,4,0,81.000000,96.50,71.0,...,14,1,116.395813,18.551137,431195.878258,7.572554e+06,55,k,-21.950030,146.333672
4,2021-02-13 00:03:00,RT20,8,4,4,0,0,65.500000,84.50,0.0,...,8,1,250.200248,116.300201,431302.310107,7.573124e+06,55,k,-21.944888,146.334727
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361525,2023-05-17 09:33:00,RT13,212,1,0,0,0,51.000000,0.00,0.0,...,1,1,214.183164,340.425322,427432.698473,7.565603e+06,55,k,-22.012677,146.296921
361526,2023-05-17 09:36:00,RT12,212,0,0,2,0,0.000000,0.00,90.0,...,2,1,-73.617687,-309.903716,427171.056853,7.565338e+06,55,k,-22.015058,146.294374
361527,2023-05-17 09:36:00,RT13,212,13,10,0,3,64.307692,65.80,0.0,...,26,1,-77.350977,95.506886,427141.164332,7.565358e+06,55,k,-22.014877,146.294085
361528,2023-05-17 09:36:00,RT15,212,0,0,2,0,0.000000,0.00,82.0,...,2,1,-102.601329,-474.200828,427560.917356,7.565152e+06,55,k,-22.016753,146.298143
361529,2023-05-17 09:39:00,RT13,212,14,9,0,1,64.785714,55.00,0.0,...,24,1,-141.773311,189.174394,427076.741998,7.565452e+06,55,k,-22.014028,146.293465

In [12]:
tag_list

,Band_Number,Tag_ID,Report_Tag_ID,Start_Date,End_Date,End_Date_Type
0,027-48906,7,7,2020-08-31 10:24:00,2020-12-29 10:24:00,120day_assumed
1,027-48979,8,8,2021-02-08 08:59:00,2021-03-17 13:18:00,Dropped
2,027-48914,9,9,2020-09-01 10:40:00,2020-12-30 10:40:00,120day_assumed
3,027-48902,10,10,2020-08-29 12:13:00,2020-12-27 12:13:00,120day_assumed
4,027-48905,11,11,2020-08-31 10:09:00,2020-12-29 10:09:00,120day_assumed
...,...,...,...,...,...,...
171,024-32013,202,202,2023-05-09 11:35:46,2023-08-07 11:35:46,90day_assumed
172,026-41493,210,210,2023-05-08 10:58:18,2023-08-06 10:58:18,90day_assumed
173,026-41492,209,209,2023-05-08 10:22:23,2023-08-06 10:22:23,90day_assumed
174,026-41491,207,207,2023-05-08 09:33:32,2023-08-06 09:33:32,90day_assumed
175,026-41490,212,212,2023-05-08 09:11:07,2023-05-17 09:41:40,Dropped

In [59]:
predictions = predictions.merge(tag_list[['Report_Tag_ID', 'Band_Number']], left_on='TagID', right_on='Report_Tag_ID', how='left')

In [63]:
# Rename some columns
predictions.rename(columns={'latitude_pred': 'POINT_Y', 'longitude_pred': 'POINT_X', 'Band_Number': 'MetalBand'}, inplace=True)
# Add a new column 'Method' with all values set to 'ART'
predictions['Method'] = 'ART'

indiv_locs.rename(columns={'CreationDateAEST': 'DateTime'}, inplace=True)

In [52]:
concatenated_df = pd.concat([predictions, indiv_locs], ignore_index=True)

In [67]:
concatenated_df.columns

Index(['DateTime', 'TowerID', 'TagID', 'ant1_count', 'ant2_count',
       'ant3_count', 'ant4_count', 'ant1_mean', 'ant2_mean', 'ant3_mean',
       'ant4_mean', 'ant1_std', 'ant2_std', 'ant3_std', 'ant4_std', 'mean_std',
       'total_count', 'tower_group', 'xOffset_pred', 'yOffset_pred',
       'easting_pred', 'northing_pred', 'zone_number', 'zone_letter',
       'POINT_Y', 'POINT_X', 'Report_Tag_ID', 'MetalBand', 'Method',
       'ColourBand_ID', 'RadioTag_ID', 'Signal_strength', 'Veracity', 'Survey',
       'Season', 'Username', 'Username_Other', 'Site_ID', 'OtherSite',
       'BTF_Activity', 'BTF_Activity_Other', 'BTF_Activity_Report', 'Comments',
       'Photo1', 'Photo2', 'CreationDate', 'EditDate', 'GlobalID', 'GUIDCOPY',
       'Shape *', 'Company'],
      dtype='object')

In [68]:
# Create a new dataframe with only the specified columns
selected_columns_df = concatenated_df[['MetalBand','DateTime','Report_Tag_ID','Method','BTF_Activity_Report','Veracity','POINT_Y','POINT_X','GUIDCOPY']]

In [69]:
# Save the dataframe to a CSV file
selected_columns_df.to_csv('selected_columns_data.csv', index=False)

In [ ]:
# Code to subset the ART data to only a single point per day per tag